<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="../classroom.php?act=add" method="post" >
                教室编号：<input type="text" name="classroom_id" >
                <br/><br/>
                教室名字：<input type="text" name="classroom_name" >
                <br/><br/>
                教室类型：<input type="text" name="classroom_type" >
                <br/><br/>
                楼号：<input type="text" name="classroom_lh">
                <br/><br/>
                容纳人数：<input type="text" name="classroom_rs" >
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
