<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="../stu.php?act=add" method="post" >
                学号：<input type="text" name="student_id" >
                <br/><br/>
                姓名：<input type="text" name="student_name" >
                <br/><br/>
                性别：<input type="text" name="student_sex" >
                <br/><br/>
                出生日期：<input type="text" name="student_csrq">
                <br/><br/>
                籍贯：<input type="text" name="student_jg" >
                <br/><br/>
                入学年份：<input type="text" name="student_year" >
                <br/><br/>
                身份证号：<input type="text" name="student_iid" >
                <br/><br/>
                照片：<input type="text" name="student_img" >
                <br/><br/>
                班级编号：<input type="text" name="class_id" >
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
