<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="../profess.php?act=add" method="post" >
                专业编号：<input type="text" name="profess_id" >
                <br/><br/>
                名称：<input type="text" name="profess_name" >
                <br/><br/>
                学制：<input type="text" name="profess_xuez" >
                <br/><br/>
                性质：<input type="text" name="profess_xingz">
                <br/><br/>
                文理：<input type="text" name="profess_wl" >
                <br/><br/>
                学院编号：<input type="text" name="college_id" >
                <br/><br/>
                设置年份：<input type="text" name="profess_year" >
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
