<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="../teacher.php?act=add" method="post" >
                教师编号：<input type="text" name="teacher_id" >
                <br/><br/>
                教师姓名：<input type="text" name="teacher_name" >
                <br/><br/>
                性别：<input type="text" name="teacher_sex" >
                <br/><br/>
                职称：<input type="text" name="teacher_zc">
                <br/><br/>
                出生日期：<input type="text" name="teacher_csrq" >
                <br/><br/>
                学历：<input type="text" name="teacher_xl" >
                <br/><br/>
                学院编号：<input type="text" name="college_id" >
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
