<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="../class.php?act=add" method="post" >
                班级编号：<input type="text" name="class_id" >
                <br/><br/>
                班级名称：<input type="text" name="class_name" >
                <br/><br/>
                人数：<input type="text" name="class_rens" >
                <br/><br/>
                专业编号：<input type="text" name="profess_id">
                <br/><br/>
                入学年份：<input type="text" name="class_year" >
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
