<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>修改</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
               <form action="class.php?act=edit&id=<?php echo $info['class_id'];?>" method="post" >
                班级编号：<input type="text" name="class_id" value="<?php echo $info['class_id'];?>">
                <br/><br/>
                班级名称：<input type="text" name="class_name" value="<?php echo $info['class_name'];?>">
                <br/><br/>
                人数：<input type="text" name="class_rens" value="<?php echo $info['class_rens'];?>">
                <br/><br/>
                专业编号：<input type="text" name="profess_id" value="<?php echo $info['profess_id'];?>">
                <br/><br/>
                入学年份：<input type="text" name="class_year" value="<?php echo $info['class_year'];?>">
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

            </form>

        </div>
    </body>
</html>

