<!DOCTYPE html>

<html>

    <head>

        <title>添加</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form action="course.php?act=edit&id=<?php echo $info['course_id'];?>" method="post" >
                课程编号：<input type="text" name="course_id" value="<?php echo $info['course_id'];?>">
                <br/><br/>
                课程名称：<input type="text" name="course_name" value="<?php echo $info['course_name'];?>">
                <br/><br/>
                课程性质：<input type="text" name="course_xingz" value="<?php echo $info['course_xingz'];?>">
                <br/><br/>
                考试形式：<input type="text" name="course_testxs" value="<?php echo $info['course_testxs'];?>">
                <br/><br/>
                周学时：<input type="text" name="course_zxs" value="<?php echo $info['course_zxs'];?>">
                <br/><br/>
                学分：<input type="text" name="course_xuef" value="<?php echo $info['course_xuef'];?>">
                <br/><br/>
               <input  type="submit" value="提交" />
            </form>

        </div>
    </body>
</html>
